[Interface]
PrivateKey = {{ vpn_client_private_key }}
Address = {{ vpn_instance_ip }}/24

[Peer]
PublicKey = {{ vpn_server_public_key }}
PresharedKey = {{ vpn_client_preshared_key }}
AllowedIPs = {{ vpn_client_network }}
PersistentKeepalive = 25
Endpoint = {{ vpn_master_ip }}:{{ vpn_ufw_rules['vpn-tunel'].port }}